/* Основные настройки */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1e1e1e, #111111);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Фон с декоративными элементами */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.pinimg.com/originals/9a/7b/bc/9a7bbce38f8874f1bbcb584926efa96b.jpg') no-repeat center center/cover;
  opacity: 0.5;
  z-index: -1;
}

/* Контейнер логина */
#login-container {
  width: 400px;
  padding: 40px;
  background: rgba(18, 18, 18, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  margin: auto;
  text-align: center;
}

/* Заголовок */
.header h1 {
  font-size: 36px;
  color: #e63946;
  margin: 0 0 10px;
}

.header p {
  font-size: 16px;
  color: #ccc;
  margin: 0 0 30px;
}

/* Радио-кнопки */
.radio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.radio-group input[type="radio"] {
  accent-color: #e63946;
  margin-right: 0px; /* Уменьшенный отступ между radio button и текстом */
}

.radio-group label {
  font-size: 16px;
  color: #ddd;
  margin-left: 0px; /* Минимальный отступ текста от кнопки */
}

label[for="role"] {
  font-size: 16px;
  color: #ccc; /* Сделан белым */
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

/* Поля ввода */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  color: #ccc;
  display: block;
  margin-bottom: 8px;
}

.input-group input {
  width: calc(100% - 24px); /* Уменьшаем ширину, чтобы учесть padding и border */
  max-width: 100%; /* Убираем возможное переполнение */
  padding: 12px;
  background: #2c2c2c;
  border: 1px solid #444;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box; /* Учитываем padding в ширине */
}

/* Кнопка входа */
#login-container button {
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(145deg, #e63946, #d62828);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

#login-container button:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
